api:
  security:
    token:
      secret: ${JWT_SECRET}
server:
  port: 8080
spring:
  profiles:
    active: test
  application:
    name: tecnoguard
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres:5432/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
  h2:
    console:
      enabled: false
  flyway:
    enabled: true
    locations: classpath:db/migration/postgres
  jackson:
    serialization:
      write-dates-as-timestamps: false
