server:
  port: ${DEV_PORT}
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: ${DB_DEV_URL}
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
  main:
    allow-bean-definition-overriding: true
  h2:
    console:
      enabled: true
  security:
    user:
      name: admin
      password: 1234
  flyway:
    enabled: true
    locations: classpath:db/migration/h2
  jackson:
    serialization:
      write-dates-as-timestamps: false
api:
  security:
    token:
      secret: dev-secret