server:
  port: ${DEV_PORT}
spring:
  datasource:
    url: ${DB_DEV_URL}
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show-sql: false
  main:
    allow-bean-definition-overriding: true
  h2:
    console:
      enabled: true
  security:
    user:
      name: admin
      password: 1234
  flyway:
    enabled: true
    url: jdbc:h2:mem:tecnoguard_test;DB_CLOSE_DELAY=1;DB_CLOSE_ON_EXIT=FALSE
    user: sa
    password:
    locations: classpath:db/migration/h2
  jackson:
    serialization:
      write-dates-as-timestamps: false
api:
  security:
    token:
      secret: ${JWT_SECRET}